astropy
astropy-iers-data
asttokens
colorama
contourpy
cycler
decorator
deflate_dict
dict_hash
einops
executing
filelock
fonttools
fsspec
h5py
ImageIO
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
kiwisolver
lazy-loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
narwhals
networkx
numpy
nvidia-ml-py
nvitop
opencv-python
packaging
pandas
parso
pillow
prompt_toolkit
psutil
pure_eval
pyerfa
Pygments
pyparsing
python-dateutil
PyYAML
scikit-image
scikit-learn
scipy
setuptools
six
stack-data
sympy
threadpoolctl
tifffile
torch
torchaudio
torchmfbd
torchvision
tqdm
traitlets
typing_extensions
tzdata
wcwidth
#windows-curses
